@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
Carrois Gothic
Montserrat
*/

#popup, #popup *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    
    --black: rgb(58, 72, 78);
    --gray: rgb(115, 120, 128);
    --blue: #069BE8;
}
.close{
    display: none !important;
}
#popup{
    height: 350px;
    width: min(700px,80vw);

    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%,50%);
    z-index: 2;

    color: white;
    background-color: rgb(59, 67, 82);
    border-radius: 1rem;
    filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.699));

    display: grid;
    grid-template-rows: 3fr 13fr;

    animation: ;
}
/*---Icon---------------------*/
#error-icon{
    height: 100px;

    position: absolute;
    left: -35px;
    top: -20px;

    filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.349));

    animation: shake 2200ms ease infinite;
}
@media (max-width: 600px)
{
  #error-icon{
      display: none;
  }
}
/*---Header---------------------*/
#popup-header{
    background-color: #048ec9;

    border-radius: 1rem 1rem 0 0;

    font-size: min(2rem, 7vw);
    font-weight: 600;
    text-transform: capitalize;

    display: flex;
    align-items: center;
    justify-content: center;
}
/*---Section---------------------*/
#popup-section{
    height: 100%;
    width: 100%;

    padding: 0 10% 1rem 10%;
    
    position: relative;

    display: grid;
    grid-template-rows: 4fr 1fr;
    grid-gap: 10%;
}
#popup-message{
    font-size: min(1.7rem, 5.5vw);
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}
/*---Buttons---------------------*/
#popup-button-area{
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}
#popup-button{
    appearance: none;
    outline: none;
    border: none;
    
    height: 100%;
    width: min(8rem, 30vw);

    border-radius: 2rem;
    font-size: 1.4rem;
}
/*---Secondary---------------------*/
#popup-button.secundary{
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    
    color: white;
}
#popup-button.secundary:hover{
    text-decoration: underline;
}
#popup-button.secundary:active{
    color: rgb(221, 221, 221);
}
/*---Main---------------------*/
#popup-button.main{
    background-color: rgba(255, 255, 255, 0);
    border: white .15rem solid;
    cursor: pointer;
    
    color: white;
}
#popup-button.main:hover{
    border: none;
    background-color: white;
    color: var(--gray);
}
#popup-button.main:active{
    background-color: rgb(221, 221, 221);
}

@keyframes shake{
    0%{
        transform:rotateZ(0deg);
    }
    5%{
        transform:rotateZ(10deg);
    }
    9%{
        transform:rotateZ(-10deg);
    }
    13%{
        transform:rotateZ(10deg);
    }
    17%{
        transform:rotateZ(-10deg);
    }
    21%{
        transform:rotateZ(10deg);
    }
    25%{
        transform:rotateZ(-10deg);
    }
    29%{
        transform:rotateZ(0deg);
    }
}

@keyframe appear{
    from{
        transform: translate(50%,40%);
    }
    to{
        transform: translate(50%,50%);
    }
}